$color-primary: rgb(31, 31, 82); //space-cadet
$color-primary-light: #e6dfdc;
$color-primary-dark: rgb(11, 11, 29);

$color-primary-glow: #6fc8b5;

$color-white: #fff;
$color-black: #000;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Open Sans Pro", sans-serif;
  font-size: 62.5%; //converting rem to base 10px / 16px
  line-height: 1.6rem;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-image: linear-gradient(
    -120deg,
    rgba(31, 31, 82, 0.9),
    rgba(11, 11, 29, 1)
  );
  background-size: cover;
  height: 100vh;
  color: $color-white;
}
